{% load static %}
{% load carts_tags %}

{% user_carts request as carts %}


<div class="cart_block">
    {% for cart in carts %}
        <div class="cart_header">
            <h5 class="cart_title">{{ cart.product.name }}</h5>
        </div>
        <ul class="cart_product-lines">
            <li class="cart_product-line_li">
                <div class="cart_product-line_div">
                    <div class="col p-0">
                        <div class="input-group cart_product-line-part">
                            <span class="input-group-btn">
                                <button type="button" class="cart_setting-btn decrement"
                                    data-cart-id="{{ cart.id }}"
                                    data-cart-change-url="{% url "cart:cart_change" %}">
                                    {% csrf_token %}
                                    -</button>
                            </span>
                            <input type="text" class="cart_form-control number" value="{{ cart.quantity }}"
                                readonly>
                            <span class="input-group-btn">
                                <button type="button" class="cart_setting-btn increment"
                                    data-cart-id="{{ cart.id }}"
                                    data-cart-change-url="{% url "cart:cart_change" %}">
                                    {% csrf_token %}
                                    +</button>
                            </span>
                        </div>
                    </div>
                    <div class="col p-0">
                        <p>x {{ cart.product.sell_price }} = </p>
                    </div>
                    <div class="col p-0"><strong>{{ cart.products_price }} ₽</strong></div>
                    <div class="col p-0">
                        <a href="{% url "cart:cart_remove" %}" class="remove-from-cart"
                        data-cart-id="{{ cart.id }}">
                            {% csrf_token %}
                            <img class="mx-1" src="{% static "deps/icons/trash3-fill.svg" %}"
                                alt="Catalog Icon" width="16" height="16">
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    {% endfor %}
</div>
<div class="cart_block">
    <div class="cart-footer">
        <p class="cart-footer_text">Итого <strong>{{ carts.total_quantity }}</strong> товар(а) на сумму</p>
        <h4 class="cart-footer_cost"><strong>{{ carts.total_price }} ₽</strong></h4>
    </div>
</div>
