{% load static %}

<!-- Для non_field_erors  -->
 {% if form.non_field_errors %}
    <div class="form_errors_container" id="form_errors_container" style="display: block">
        <div class="alert_form_errors" role="alert">
            {{ form.non_field_errors }}
            <button type="button" class="alert_form_errors_btn-close" id="alert_form_errors_btn-close">×</button>
        </div>
    </div>
 {% endif %}

 <div class="form_errors_container">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div id="notification" class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endif %}
            {% if message.tags == 'warning' %}
                <div id="notification" class="alert alert-warning" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
    <div id="jq-notification" class="alert alert-success" style="display: none;" role="alert">
    </div>
    {% endif %}
</div>
