{% extends "main/base.html" %}
{% load static %}

{% block content %}
        <div class="search_panel">
            <input class="search_input" type="search" name="search-product" id="search-product" placeholder="Поиск">
            <input class="search_filter filter-sort" type="button" value="Сортировать">
            <input class="search_filter filter-categories" type="button" value="Категории">
        </div>
    

        <div class="product_section">

            {% for product in goods %}
                <article class="product_card">
                    <img class="product_image" src="{% static product.image %}" alt="product_image">
                    <a href="{% url "catalog:product" %}" class="product_name-link decoration_none">
                        <p class="product_name-text">{{ product.name }}</p>
                    </a>
                    <p class="product_price">{{ product.price }} ₽</p>
                </article>
            {% endfor %}

        </div>
{% endblock content %}