{% extends "main/base.html" %}
{% load static %}

{% block content %}
        <div class="search_panel">
            <input class="search_input" type="search" name="search-product" id="search-product" placeholder="Поиск">
            <input class="search_filter filter-sort" type="button" value="Сортировать">
            <input class="search_filter filter-categories" type="button" value="Категории">
        </div>
    

        <div class="product_section">

            {% for product in goods %}
                <article class="product_card">
                    <a href="{% url "catalog:product" product.slug %}">
                        {% if product.image %}
                            <img class="product_image" src="{{ product.image.url }}" alt="{{ product.name }}">
                        {% else %}
                            <img class="product_image" src="{% static "deps/images/Not found image.png" %}" alt="{{ product.name }}">
                        {% endif %}
                    </a>
                    <div class="product_card_info">
                        <a href="{% url "catalog:product" product.slug %}" class="product_name-link decoration_none">
                            <p class="product_name-text">{{ product.name }}</p>
                        </a>
                        <p class="product_id">id: {{ product.display_id }}</p>

                        <div class="product_card_bottom-row">
                            {% if product.discount %}
                                <p class="product_price">{{ product.sell_price }} ₽</p>
                                <p class="product_price-if-discount">{{ product.price }} ₽</p>
                            {% else %}
                                <p class="product_price">{{ product.price }} ₽</p>
                            {% endif %}
                            <a href="#" class="display_flex">
                                <img src="{% static "deps/icons/cart-plus.svg" %}" class="product_card_to-cart" alt="Add_to_cart_btn" title="Добавить в корзину">
                            </a>
                        </div>
                    </div>
                </article>
            {% endfor %}

        </div>
{% endblock content %}