{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="product-screen_bg">
        <div class="product-screen_image-div">
            <img class="product-screen_image" src="{{ product.image.url }}" alt="{{ product.name }}">
        </div>
        <div class="product-screen_information">
            <h2 class="product-screen_name">{{ product.name }}</h2>
            <p class="product-screen_id">id: {{ product.display_id }}</p>
            <p class="product_screen-rating">10\10</p>
            <p class="product_screen-description">{{ product.description }}</p>
            <div class="product_screen-prices">
                {% if product.discount %}
                    <p class="product_screen-price">{{ product.sell_price }} ₽</p>
                    <p class="product_screen-price-if-discount">{{ product.price }} ₽</p>
                {% else %}
                    <p class="product_screen-price">{{ product.price }} ₽</p>
                {% endif %}
            </div>
            {% comment %} <p class="product_screen-price">{{ product.sell_price }} ₽</p> {% endcomment %}
            <a href="#" class="product_screen-add-to-cart decoration_none">Добавить в корзину</a>
        </div>
    </div>
{% endblock content %}
