* {
    margin: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 0;
    border: none;
  
    /* font-family: 'Arial'; */
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

body {
    background-color: #c9b8e6;
}

.header_main {
    position: fixed; /* Закрепляет шапку наверху экрана */
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    /* line-height: 60px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px;
    z-index: 1000; /* Шапка всегда сверху */
    background-color: #8782ff; /* Фон шапки */
    /*border-bottom: 1px solid #ddd; /* Линия под шапкой */
}

.header_title {
    font-size: 2em;
    font-weight: 800;
    color: #fff;
    white-space: nowrap;
}

.dropdown-menu {
    margin-left: 40px;
    height: 30px;
    display: flex;
    align-items: flex-end;
}

.dropdown-menu_button {
    background: #8782ff;
    display: flex;
    align-items: center;
    color: #fff;
}

.dropdown-menu_button p {
    font-size: 1.5em;
    margin-right: 5px;
}

.dropdown-menu_list {
    position: absolute;
    top: 50px;
    z-index: 1;
    list-style-type: none;
    background: #8782ff;
    padding: 0 8px 5px;
}

.dropdown-menu_list li {
    margin-bottom: 5px;
}

.dropdown-menu_list li:last-child {
    margin-bottom: 0;
}

.dropdown-menu_item {
    font-size: 1.2em;
}

.header_cart-image {
    max-height: 28px;
}

.header_account-image {
    max-height: 36px;
    margin-left: 40px;
}

.header_stars-bg {
    background-image: url(../icons/star_template.svg);
    background-repeat: repeat-x;
    min-width: 124px;
    height: 28px;
    margin: 0 40px;
    flex-grow: 1;
}

.display_flex {
    display: flex;
}

/* .header_stars-image {
    max-height: 28px;
} */

.link_basic_style, .link_basic_style:visited {
    color: #13122a;
    box-sizing: content-box;
}

.link_basic_style:hover, .link_basic_style:focus {
    color: #3b3786;
}

.page_content {
    margin: 0 30px;
    padding-top: 65px;
}

.welcome_header {
    margin-bottom: 30px;
    font-size: 2em;
}

.information_div {
    margin-bottom: 30px;
}

.information_header {
    font-size: 1.5em;
    margin-bottom: 6px;
}

.inline_block {
    display: inline-block;
}

.index_catalog_link {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.information_links {
    padding-left: 24px;
    list-style-type: circle;
    font-size: 1.5em;
}

.information_links li {
    padding-left: 10px;
    font-size: 1em;
}

.information_links li a {
    padding-left: 10px;
    font-size: 1em;
}

.decoration_none {
    text-decoration: none;
}

.index_links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.index_links a {
    margin-bottom: 20px;
}

.index_links a:last-child {
    /* margin-top: 20px; */
    margin-bottom: 0;
}

.notifications_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.alert {
    width: 100%;
    margin-bottom: 10px;
    padding: 6px 10px;
    color: #13122a;
    box-sizing: border-box;
}

.alert-success {
    background-color: aquamarine;
}

.alert-warning {
    background-color: #f19999;
}


/* about */

.about_text {
    font-size: 1.5em;
    color: #13122a;
}

.about_text a {
    font-size: 1.5em;
    color: #13122a;
}

.contacts_email {
    font-size: 1.5em;
    color: #13122a;
}

.contacts_email:hover {
    color: #3b3786;
}


/* goods */

.search_panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-top: 65px; */
    margin-bottom: 15px;
    height: 32px;
}

.search_form {
    width: 100%;
    height: 100%;
}

.search_input {
    min-width: 150px;
    width: 80%;
    height: 100%;
    padding: 0 10px;
    border: 4px solid #8782ff;
    outline: none;
}

.search_input_submit-btn {
    padding: 4px 10px;
    background-color: #8782ff;
    color: #fff;
    font-size: 1.1em;
    height: 100%;
}

.search_filter {
    width: 8%;
    min-width: 110px;
    font-weight: 600;
}

.filter-sort {
    color: #8782ff;
    background-color: #fff;
    font-size: 1em;
}

.filter-options {
    /* color: #fff;
    background-color: #8782ff; */
    color: #3b3786;
    background-color: #fff;
}

.dropdown-filter_button {
    width: 10%;
    min-width: 110px;
}

.dropdown-filter_button p {
    font-size: 1.2em;
}

.dropdown-filter_form {
    position: absolute;
    top: 106px;
    right: 30px;
    z-index: 1;
    background: #8782ff;
    padding: 12px 10px;
}

.form-check_on-sales {
    margin-bottom: 10px;
    color: #fff;
}

.form-check {
    color: #fff;
    margin-bottom: 4px;
}

.dropdown-filter_form_sort-p {
    font-size: 1.1em;
    margin-bottom: 4px;
    color: #13122a;
}

.dropdown-filter_form_submit-btn {
    margin-top: 10px;
    padding: 6px 8px;
    color: #3b3786;
    font-size: 1.1em;
}

/* catalog */

.catalog_empty_p {
    font-size: 1.2em;
}

.product_section {
    justify-content: space-between;
    background-color: #fff;
    height: auto;
    padding: 30px 50px 30px;
    width: -webkit-fill-available;

    display: grid;
    grid-template-columns: repeat(auto-fill, 196px);
    gap: 20px;
    min-width: 210px;
    max-width: 100%;
    margin: 0 auto 8px;
}

.product_card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 196px;
    height: 336px;
    margin-bottom: 20px;
    /* margin: 30px auto; */
    /* border: 1px solid rgb(52, 52, 52); */
}

.product_image {
    border: 4px solid rgb(185, 185, 185);
    margin: 0 auto 5px;
    object-fit: cover;
    box-sizing: border-box;
    width: 100%;
    height: 240px;
    transition: 0.6s;
}

.product_image:hover {
    object-fit: contain;
    transform: scale(1.24);
    border: none;
}

.product_card_info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product_name-text {
    color: #000;
    margin-bottom: 4px;
    height: 37px;

    display: -webkit-box;          /* Включаем flex-бокс для старых браузеров */
    display: -moz-box;             /* Для Firefox */
    -webkit-line-clamp: 2;         /* Ограничение до 2 строк */
    -moz-line-clamp: 2;            /* Для Firefox */
    line-clamp: 2;                 /* Современный стандарт */
    -webkit-box-orient: vertical;  /* Направление контента вертикально */
    -moz-box-orient: vertical;     /* Для Firefox */
    box-orient: vertical;          /* Современный стандарт */
    overflow: hidden;              /* Скрываем переполнение */
    text-overflow: ellipsis;       /* Добавляем троеточие */
    white-space: normal;  
}

.product_name-text:hover, .product_name-text:focus {
    color: #3b3786;
}

.product_id {
    font-size: 0.8em;
    color: gray;
}

.product_card_bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product_price {
    display: block;
    font-weight: 600;
    font-size: 1em;
}

.product_price-if-discount {
    display: block;
    font-weight: 400;
    font-size: 0.86em;
    text-decoration: line-through;
}

/* pagination */

.catalog_pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    list-style-type: none;
}

.catalog_pagination-item {
    box-sizing: border-box;
    background-color: #fff;
    padding: 6px 10px;
}

.catalog_pagination-item.disabled .pagination-link {
    opacity: 0.6;
    pointer-events: none; /* Отключает клики */
    cursor: not-allowed;
}

.catalog_pagination-item.active {
    background: #8782ff;
}

.catalog_pagination-item.active .pagination-link {
    font-weight: bold;
    color: #fff;
}

.catalog_pagination-item {
    color: gray;
}

.pagination-link {
    color: #13122a;
    font-size: 1em;
}

.pagination-link:hover {
    color: #8782ff;
}

/* product */

.product-screen_bg {
    background-color: #fff;
    height: 74vh;
    margin: 50px 40px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.product-screen_image-div {
    grid-column: 1;
    height: 74vh;
    align-content: center;
    text-align: center;
}

.product-screen_image {
    height: 90%;
    width: 90%;
    /* margin: 30px 20px 0; */
    object-fit: contain;
    /* transition: 0.6s; */
}

/* .product-screen_image:hover {
    transform: scale(1.2);
} */

.product-screen_information {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    height: 80%;
    padding: 40px 70px 20px 0;
    padding-left: 0;
}

.product-screen_name {
    font-size: 2em;
    color: #3b3786;
    margin-bottom: 6px;
}

.product-screen_id {
    font-size: 0.8em;
    color: gray;
    margin-bottom: 10px;
}

.product_screen-rating {
    font-size: 1.5em;
    color: #8782ff;
    margin-bottom: 20px;
}

.product_screen-description {
    font-size: 1.12em;
}

.product_screen-prices {
    display: flex;
    margin-top: auto;
}

.product_screen-price {
    font-size: 1.5em;
    color: #13122a;
    margin-right: 20px;
}

.product_screen-price-if-discount {
    color: #3b3786;
    text-decoration: line-through;
}

.product_screen-add-to-cart {
    font-size: 1.5em;
    width: fit-content;
    padding: 12px 16px;
    margin-top: 20px;
    color: #fff;
    background-color: #8782ff;
    transition: 0.2s;
}

.product_screen-add-to-cart:hover {
    background-color: #3b3786;
}


/* login */

.login_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    height: 280px;
}

.login_title {
    font-size: 2em;
    color: #13122a;
    margin-bottom: 10px;
}

.login_form {
    width: 100%;
}

.login_form_role {
    margin-bottom: 20px;
}

.login_form_login-as {
    margin-bottom: 6px;
}

.login_inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 72px;
}

.login_form-control {
    background-color: #fff;
    border: 4px solid #8782ff;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    margin-bottom: 6px;
    padding: 0 6px;
}

.login_form-control:focus, .login_form-control:active {
    outline: none;
}

.login-btn {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
}

.login_submit-btn {
    margin-top: 4px;
    background-color: #8782ff;
    color: #fff;
    transition: 0.2s;
    margin-bottom: 6px;
}

.login_submit-btn:hover {
    background-color: #3b3786;
}

.login_create-new, .login_create-new:visited{
    display: flex;
    align-items: center;
    justify-content: center ;
    background-color: #c9b8e6;
    color: #3b3786;
    border: 4px solid #8782ff;
    height: 30px;
    text-align: center;
    transition: 0.2s;
}

.login_create-new:hover, .ogin_create-new:focus {
    color: #8782ff;
}

.form_errors_container {
    width: 100%;
}

.alert_form_errors {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;
    background-color: #8782ff;
    color: #fff;
    margin-bottom: 10px;
}

.alert_form_errors ul {
    list-style-type: none;
    margin-right: 10px;
}

.alert_form_errors_btn-close {
    background: #3b3786;
    color: #fff;
    width: 27px;
    height: 27px;
    font-size: 1.5em;
    transition: 0.2s;
}

.alert_form_errors_btn-close:hover {
    opacity: 0.8;
}


/* registration */

.registration_form-label {
    font-size: 1.2em;
    color: #13122a;
}

.registration_form_error {
    color: #13122a;
    background-color: #f19999;
    padding: 4px 6px;
    margin-bottom: 4px;
}



/* profile */

.profile_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.profile_container > div {
    /* background-color: #fff; */
    padding: 10px;
    border: 4px solid #8782ff;
}

.user_profile {
    width: 38%;
    height: fit-content;
    margin-bottom: 50px;
}

.user_cart {
    width: 56%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.user_cart_wrapper {
    display: flex;
    justify-content: center;
}

.user_orders {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profile_form-label {
    font-size: 1.1em;
    color: #13122a;
}

.profile_image_div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.profile_image {
    margin-bottom: 6px;
}

.profile_sublit-btn {
    padding: 8px 10px;
    color: #fff;
}


/* cart */

.cart_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart_block {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #3b3786;
}

.cart_header {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #3b3786;
}

.cart_title {
    font-size: 1.2em;
    color: #13122a;
}

.cart_product-lines {
    display: flex;
    list-style-type: none;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.cart_product-line_li {
    width: 100%;
}

.cart_product-line_div {
    display: flex;
    height: 30px;
    padding: 4px 0;
}

.cart_product-line_div > div {
    margin-right: 14px;
    display: flex;
    align-items: center;
}

.cart_product-line-part {
    height: 100%;
}

.cart_setting-btn {
    background-color: #8782ff;
    width: 20px;
    height: 100%;
    color: #fff;
    padding: 0 6px;
    box-sizing: border-box;
}

.cart_product-line-part span {
    box-sizing: border-box;
}

.cart_form-control {
    width: 30px;
    height: 100%;
    text-align: center;
}

.cart-footer {
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    padding: 2px 10px;
    text-align: center;
}

.cart-footer_text {
    font-size: 1.12em;
    color: #13122a;
}

.cart-footer_cost {
    font-size: 1.2em;
    color: #13122a;
}


/* orders */

.orders_container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}

.accordion {
    width: 100%;
    color: #13122a;
}

.accordion-item {
    padding-top: 6px;
    border: 2px solid #3b3786;
}

.accordion-header {
    font-size: 1em;
    padding: 0 20px;
}

.accordion-button {
    background-color: #c9b8e6;
}

.accordion-body {
    padding: 10px;
}

.accordion-body_table {
    width: 100%;
    background-color: #8782ff;
    border-collapse: collapse;
}

.accordion-body_table, .accordion-body_table th, td {
  border: 1px solid #13122a;
  box-sizing: border-box;
}

.accordion-body_table th, td {
    padding: 4px;
    height: 30px;
    box-sizing: border-box;
}

.accordion-body_table_item {
    color: #13122a;
    transition: 0.2s;
}

.accordion-body_table_item:hover {
    color: #fff;
}

.accordion-item_cost {
    margin-top: 10px;
    display: flex;
}

.accordion-item_cost p:first-child {
    margin-right: 12px;
}
