{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="profile_container">
        <!-- Профиль с данными пользователя -->
        <div class="user_profile">
            <h3 class="login_title">Профиль пользователя</h3>
            <form action="{% url "user:profile" %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="profile-div profile_image_div">
                        {% if user.image %}
                            <img src="{{ user.image.url }}"
                            alt="Аватар пользователя" class="profile_image"
                            style="max-width: 150px;">
                        {% else %}
                            <img src="{% static "deps/images/baseavatar.jpg" %}"
                            alt="Аватар пользователя" class="profile_image"
                            style="max-width: 150px;">
                        {% endif %}
                        <input type="file" class="form-control" id="id_image"
                            name="image"
                            accept="image/*">
                        {% if form.image.errors %}
                            <div class="registration_form_error">{{ form.image.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="profile-div">
                        <label for="id_first_name" class="profile_form-label">Имя*</label>
                        <input type="text" class="login_form-control" id="id_first_name"
                            name="first_name"
                            value="{{ form.first_name.value }}"
                            placeholder="Введите ваше имя" required>
                            {% if form.first_name.errors %}
                                <div class="registration_form_error">{{ form.first_name.errors }}</div>
                            {% endif %}
                    </div>
                    <div class="profile-div">
                        <label for="id_last_name" class="profile_form-label">Фамилия*</label>
                        <input type="text" class="login_form-control" id="id_last_name"
                            name="last_name"
                            value="{{ form.last_name.value }}"
                            placeholder="Введите вашу фамилию" required>
                            {% if form.last_name.errors %}
                                <div class="registration_form_error">{{ form.last_name.errors }}</div>
                            {% endif %}
                    </div>
                    <div class="profile-div">
                        <label for="id_username" class="profile_form-label">Имя пользователя*</label>
                        <input type="text" class="login_form-control" id="id_username"
                            name="username"
                            value="{{ form.username.value }}"
                            placeholder="Введите ваше имя пользователя" required>
                            {% if form.username.errors %}
                                <div class="registration_form_error">{{ form.username.errors }}</div>
                            {% endif %}
                    </div>
                    <div class="profile-div">
                        <label for="id_email" class="profile_form-label">Email*</label>
                        <input type="email" class="login_form-control" id="id_email"
                            name="email"
                            placeholder="Введите ваш email (youremail@example.com)"
                            value="{{ form.email.value }}"
                            required>
                             {% if form.email.errors %}
                                <div class="registration_form_error">{{ form.email.errors }}</div>
                            {% endif %}
                    </div>
                </div>
                <button type="submit" class="login_submit-btn profile_sublit-btn">Сохранить</button>
            </form>
        </div>

        <!-- Корзина -->
        <div class="user_cart">
            <h3 class="login_title">Корзина</h3>
            <div class="cart_container" id="cart-profile-items-container">
                <!-- Разметка корзины -->
                {% include "carts/includes/included_cart.html" %}
                <!-- Закончилась разметка корзины -->
            </div>
            {% if carts %}
                <a class="login_submit-btn profile_sublit-btn decoration_none" href="{% url "orders:create_order" %}">
                    Оформить заказ
                </a>
            {% endif %}
        </div>

        <!-- Оформленные заказы -->
        <div class="user_orders">
            <h3 class="login_title">Мои заказы</h3>
            <!-- Разметка заказов -->
            <div class="orders_container">
                <div class="accordion" id="accordionExample">
                    {% for order in orders %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading1">
                            <button class="accordion-button" type="button">
                                Заказ № {{ order.id }} — {{ order.created_timestamp }} | Статус: <strong class="order_status">{{ order.status }}</strong>
                            </button>
                        </h2>
                        <div id="collapse{{ order.id }}" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                <table class="accordion-body_table table-dark table-hover">
                                    <thead>
                                        <tr>
                                            <th>Товар</th>
                                            <th>Количество</th>
                                            <th>Цена</th>
                                            <th>Общая стоимость</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in order.orderitem_set.all %}
                                        <tr>
                                            <td><a class="accordion-body_table_item decoration_none" href="{% url 'catalog:product' item.product.slug %}">
                                                {{ item.product.name }}</a></td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.price }} ₽</td>
                                            <td><strong>{{ item.products_price }} ₽</strong></td>
                                            
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <div class="accordion-item_cost">
                                    <p><strong>Итого:</strong></p>
                                    <p><strong>{{ order.total_order_price }} ₽</strong></p>

                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Закончилась разметка заказов -->
        </div>
    </div>
{% endblock content %}