{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="user_cart_wrapper">
    <div class="user_cart">
        <h3 class="login_title">Корзина</h3>
        <div class="cart_container" id="cart-items-container">
            <!-- Разметка корзины -->
            {% include "carts/includes/included_cart.html" %}
            <!-- Закончилась разметка корзины -->
        </div>
        <a class="login_submit-btn profile_sublit-btn decoration_none" href="../orders/create_order.html">
            Оформить заказ
        </a>
    </div>
</div>
{% endblock content %}
