{% load static %}
{% load goods_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static "deps/css/index.css" %}">
</head>
<body>
    <header class="header_main">
        <div class="wrapper inline_block">
            <a href="{% url "main:index" %}" class="header_title decoration_none">MO-ШОП</a>
        </div>
        <!-- div для каталога в header -->
        <div class="dropdown-menu">
            <button class="dropdown-menu_button" id="dropdown-menu_button" type="button">
                <p>Каталог</p>
                <img class="catalog_icon" src="{% static "deps/icons/grid-fill.svg" %}" alt="Catalog Icon" width="28"
                    height="28">
            </button>
            <ul class="dropdown-menu_list" id="dropdown-menu_list" style="display: none">
                {% tag_categories as categories %}
                {% for category in categories %}
                    <li><a class="dropdown-menu_item link_basic_style decoration_none" href="{% url "catalog:index" category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <!-- div для звёзд в header -->
        <div class="header_stars-bg"></div> 
        <a href="#" class="display_flex">
            <img src="{% static "deps/icons/cart_header.svg" %}" class="header_cart-image" alt="header_cart-image" title="Корзина">
        </a>
        <a href="{% url "user:profile" %}" class="display_flex">
            <img src="{% static "deps/icons/account_icon.svg" %}" class="header_account-image" alt="header_account-image" title="Профиль">
        </a>
    </header>

    <div class="page_content">
        {% block content %}{% endblock content %}
    </div>

    <script src="{% static "deps/js/jquery-events.js" %}"></script>
</body>
</html>
