{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static "deps/css/index.css" %}">
</head>
<body>
    <header class="header_main">
        <div class="wrapper inline_block"><a href="{% url "main:index" %}" class="header_title decoration_none">MO-ШОП</a></div>
        <!-- div для звёзд в header -->
        <div class="header_stars-bg"></div> 
        <a href="#" class="display_flex">
            <img src="{% static "deps/icons/cart_header.svg" %}" class="header_cart-image" alt="header_cart-image" title="Корзина">
        </a>
        <a href="#" class="display_flex">
            <img src="{% static "deps/icons/account_icon.svg" %}" class="header_account-image" alt="header_account-image" title="Профиль">
        </a>
    </header>

    <div class="page_content">
        {% block content %}{% endblock content %}
    </div>
</body>
</html>
