<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MO-shop</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <header class="header_main">
        <h1 class="header_title">MO-ШОП</h1>
        <img src="" alt="header_stars-image" class="header_stars-image">
        <img src="" alt="header_cart-image" title="Корзина" class="header_cart-image">
        <img src="" alt="header_account-image" title="Профиль" class="header_accont-image">
    </header>

    <div class="page_content">

        <div class="search_panel">
            <input class="search_input" type="search" name="search-product" id="search-product" placeholder="поиск">
            <input class="search_filter" type="button" value="sort">
            <input class="search_filter" type="button" value="categories">
        </div>
    
        <div class="product_section">

            <article class="product_card">
                <img class="product_image" src="" alt="product_image">
                <p class="product_name">Наименование</p>
                <p class="product_price">Цена</p>
            </article>
    
            <article class="product_card">
                <img class="product_image" src="" alt="product_image">
                <p class="product_name">Наименование</p>
                <p class="product_price">Цена</p>
            </article>
    
            <article class="product_card">
                <img class="product_image" src="" alt="product_image">
                <p class="product_name">Наименование</p>
                <p class="product_price">Цена</p>
            </article>
    
            <article class="product_card">
                <img class="product_image" src="" alt="product_image">
                <p class="product_name">Наименование</p>
                <p class="product_price">Цена</p>
            </article>

            <article class="product_card">
                <img class="product_image" src="" alt="product_image">
                <p class="product_name">Наименование</p>
                <p class="product_price">Цена</p>
            </article>

        </div>
    </div>

</body>
</html>