{% extends "main/base.html" %}
{% load static %}

{% block content %}
    <h1 class="welcome_header">{{ content }}</h1>

    <a href="{% url "catalog:index" %}" class="link_basic_style index_catalog_link decoration_none">Каталог</a>

    <div class="information_div">
        <h2 class="information_header">Информация</h1>
        <ul class="information_links">
            <li><a href="{% url "main:delivery_and_payments" %}" class="link_basic_style decoration_none">Доставка и оплата</a></li>
            <li><a href="{% url "main:contacts" %}" class="link_basic_style decoration_none">Контактная информация</a></li>
            <li><a href="{% url "main:about" %}" class="link_basic_style decoration_none">О нас</a></li>
        </ul>
    </div>

    <a href="{% url "admin:index" %}" class="link_basic_style index_catalog_link decoration_none">Админ-панель</a>
{% endblock content %}
